<template name="about">
  <div class="row-fluid">
    <div class="span12">
      <img src="/images/profile_small.png" 
            class="img-rounded pull-right" >
      <p data-i18n="me_p1">
        Hey, my name is Ido Chetrit, I'm 21 yo web developer live in Ashkelon, Israel. 
      </p><br /><br />
      <p data-i18n="me_p2">
        Building web apps mainly in Rails, and develop iOS apps. <br/> 
        And also teaching computer science for school (Java, C#)...
      </p><br/>
      <p data-i18n="me_p3" >
        So if you need developer for Ruby, Rails, Javascript, Wordpress and general web and iOS development.
        please contact me here...
      </p>
    </div>
  </div>
</template>
