<template name="header">
  <header>
    <h1 id="top_logo">[Ido chetrit];</h1>
    <nav id="navBar" class="clearfix">
      <ul class="letterShadow">
        <li>
          <a class="about" href="{{aboutPath}}">Me</a>
        </li>
        <li>
          <a class="projectsList" href="{{projectsListPath}}">Projects</a>
        </li>
        <li>
          <a class="contactMe" href="{{contactMePath}}">Contact Me</a>
        </li>
        <img src="/images/glowBar.png" alt="" id="glow_bar" />
      </ul>
    </nav>
  </header>
</template>