<template name="header">
  <header>
    <h1 id="top-logo">[Ido chetrit];</h1>
    <nav class="nav-bar clearfix" >
      <ul class="letter-shadow nav-links">
        <li>
          <a id="about" data-i18n="me" href="{{aboutPath}}">Me</a>
        </li>
        <li>
          <a id="projectsList" data-i18n="projects" href="{{projectsListPath}}">Projects</a>
        </li>
        <li>
          <a id="contactMe" data-i18n="contact_me" href="{{contactMePath}}">Contact Me</a>
        </li>
        <img src="/images/glowBar.png" alt="" id="glow-bar" />
      </ul>
    </nav>
  </header>
</template>