/* CSS declarations go here */
@font-face {
  font-family: 'Mono Social Icons Font';
  src: url("/fonts/MonoSocialIconsFont-1.10.eot");
  src: url("/fonts/MonoSocialIconsFont-1.10.eot?#iefix") format("embedded-opentype"), url("/fonts/MonoSocialIconsFont-1.10.woff") format("woff"), url("/fonts/MonoSocialIconsFont-1.10.ttf") format("truetype"), url("/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
  src: url("/fonts/MonoSocialIconsFont-1.10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 14, ../sass/style.scss */
.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 28, ../sass/style.scss */
a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}

/* 600 / 1280 */
/* 1200 / 1280 */
/* line 47, ../sass/style.scss */
html, body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
}

/* line 54, ../sass/style.scss */
body {
  background: url("/images/random_grey_variations.png");
  line-height: 1.5 !important;
  font-size: 20px;
}

/* line 60, ../sass/style.scss */
h1, h2, h3, h4, h5, h6, p {
  font-family: inherit;
  font-size: inherit;
}

/* line 64, ../sass/style.scss */
h1 {
  font-size: 4em;
  line-height: 1em;
}

/* line 68, ../sass/style.scss */
h3 {
  font-size: 3em;
  line-height: 1em;
}

/* line 73, ../sass/style.scss */
header {
  margin: 0 auto;
}
/* line 75, ../sass/style.scss */
header h1 {
  color: white;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 4em;
  font-family: "Domine";
  padding: 15px 0 15px 0;
}
/* line 76, ../sass/style.scss */
header h1 .char2, header h1 .char3, header h1 .char4 {
  color: #d4d9f9;
}
/* line 80, ../sass/style.scss */
header h1 .char6, header h1 .char7, header h1 .char8, header h1 .char9, header h1 .char10
, header h1 .char11, header h1 .char12 {
  color: #d84839;
}

/* line 93, ../sass/style.scss */
.nav-bar {
  width: 100%;
}
/* line 95, ../sass/style.scss */
.nav-bar ul {
  font-family: "Roboto";
  float: right;
  position: relative;
  width: 46.875%;
  border-radius: 3px 0 3px 0;
  list-style-type: none;
  background-color: #df5136;
  padding-left: 10px;
  margin-right: 25px;
}
/* line 105, ../sass/style.scss */
.nav-bar ul li {
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
/* line 109, ../sass/style.scss */
.nav-bar ul li.button {
  height: 35px;
  width: 50px;
}
/* line 114, ../sass/style.scss */
.nav-bar ul li:hover {
  background-color: rgba(247, 93, 72, 0.79);
}
/* line 118, ../sass/style.scss */
.nav-bar ul a {
  text-align: center;
  color: #fff;
  text-decoration: none;
}

/* line 126, ../sass/style.scss */
section.page {
  font-family: "Roboto";
  width: 94.6875%;
  min-height: 300px;
  max-width: 700px;
  margin: 10px auto;
  background-color: #f5f5f5;
}
/* line 133, ../sass/style.scss */
section.page article {
  padding: 45px;
  text-align: left;
}
/* line 134, ../sass/style.scss */
section.page article img {
  max-width: 100%;
  height: auto;
}

/* line 144, ../sass/style.scss */
#glow-bar {
  display: none;
}

/* line 148, ../sass/style.scss */
.glowbar-active {
  background: url("/images/glowBar.png") no-repeat;
  background-position: center bottom;
}

/* line 154, ../sass/style.scss */
.letter-shadow {
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

/* line 160, ../sass/style.scss */
.box {
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

/* line 168, ../sass/style.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 177, ../sass/style.scss */
.clearfix {
  display: inline-block;
}

/* line 181, ../sass/style.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 185, ../sass/style.scss */
* html .clearfix {
  height: 1%;
}

/* line 189, ../sass/style.scss */
.social-icons {
  width: 94.6875%;
  max-width: 700px;
  margin: 0 auto;
}
/* line 193, ../sass/style.scss */
.social-icons li {
  padding: 0;
}
/* line 195, ../sass/style.scss */
.social-icons li a {
  text-decoration: none;
  padding: 0;
  color: #fff;
  font-size: 40px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 205, ../sass/style.scss */
  body {
    background: url("/images/random_grey_variations_@2X.png");
    background-size: 200px 200px;
  }

  /* line 210, ../sass/style.scss */
  div.background {
    perspective: 320px;
    -webkit-perspective: 320px;
    overflow: hidden;
  }

  /* line 216, ../sass/style.scss */
  div.foreground {
    margin: auto 0;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 569px), screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  /* first break of the navbar */
  /* line 229, ../sass/style.scss */
  header h1 {
    font-size: 3.5em;
  }

  /* line 234, ../sass/style.scss */
  .nav-bar ul {
    box-shadow: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  /* line 242, ../sass/style.scss */
  .social-icons {
    text-align: center;
    margin: 0 auto;
  }
  /* line 245, ../sass/style.scss */
  .social-icons li a {
    font-size: 30px;
  }

  /* line 250, ../sass/style.scss */
  section.page {
    min-height: 0;
    width: 100%;
    padding-bottom: 5px;
  }
  /* line 254, ../sass/style.scss */
  section.page article {
    padding: 20px;
  }
  /* line 255, ../sass/style.scss */
  section.page article img {
    max-width: 30%;
  }

  /* line 261, ../sass/style.scss */
  #glow-bar {
    top: 110px;
  }
}
